@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Index del Home Controller</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias cumque perspiciatis voluptas, rem aspernatur non dolores sit incidunt! Sequi cumque voluptate quas alias, pariatur beatae a molestiae quidem optio iste!</p>

    
    <p>Quod itaque velit voluptatem debitis facere? Aspernatur quo asperiores id repellat soluta voluptates quasi nulla tenetur natus, saepe, vero quis quam nostrum perferendis rem quod vitae incidunt repudiandae dolor magni!</p>
    <p>Nulla, maiores sapiente a itaque sequi, dicta eligendi atque et deleniti laboriosam veritatis autem iste nam velit impedit assumenda maxime veniam? Omnis facilis dignissimos accusamus, ducimus consequuntur ullam dolorum nulla.</p>
    <p>Velit neque delectus corrupti facilis dolorum sit consectetur eius quod reiciendis saepe molestias similique soluta vero, possimus dolores nulla recusandae tempore ab mollitia, libero culpa magnam cupiditate minima modi. Provident!</p>
    <p>Veniam dolorum amet natus, eos, ab quo animi sed mollitia temporibus recusandae et, voluptatem eligendi aspernatur. Quod, praesentium repellat rem nostrum veritatis, cum modi in doloremque porro eaque repellendus consectetur.</p>
</div>
