@page
@model mvc.Pages.Privacy
@{
    ViewData["Title"] = "Privacy";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni quisquam accusantium quasi nemo laudantium officiis non reiciendis beatae distinctio nesciunt maiores aut iusto, assumenda culpa quos voluptatum veritatis consequatur!</p>
</div>